{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
    <title>Calculatrice</title>

</head>
<body>
<p class="titre1"></p>


    <table class="tab">
        <tr>
            <td colspan="5" class="result" id="res"></td>
        </tr>
        <tr>
            <td><button class="btnNumber" onclick="show('1')">1</button></td>
            <td><button class="btnNumber" onclick="show('2')">2</button></td>
            <td><button class="btnNumber" onclick="show('3')">3</button></td>
            <td><button class="btnOp" onclick="show('+')">+</button></td>
            <td><button class="btnFn" onclick=" cos();">cos</button></td>
        </tr>
        <tr>
            <td><button class="btnNumber" onclick="show('4')">4</button></td>
            <td><button class="btnNumber" onclick="show('5')">5</button></td>
            <td><button class="btnNumber" onclick="show('6')">6</button></td>
            <td><button class="btnOp" onclick="show('-')">-</button></td>
            <td><button class="btnFn" onclick="sin()">sin</button></td>
        </tr>
        <tr>
            <td><button class="btnNumber" onclick="show('7')">7</button></td>
            <td><button class="btnNumber" onclick="show('8')">8</button></td>
            <td><button class="btnNumber" onclick="show('9')">9</button></td>
            <td><button class="btnOp" onclick="show('*')">*</button></td>
            <td><button class="btnFn" onclick="tan()">tan</button></td>
        </tr>
        <tr>
            <td><button class="btnNumber" onclick="show('0')">0</button></td>
            <td><button class="btnOp" onclick="effacer()">C</button></td>
            <td colspan="2"><button id="egal" class="btnOpEgal" onclick="calculer()">=</button></td>
            
            <td><button class="btnFn" onclick="SQRT()">SQRT</button></td>
        </tr>
    </table>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script> 
       
</body>
</html>